style.css
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);

body {
	font-size: 16px;
	background-color: #FFFFFD;
	line-height: 1.0;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-weight: normal;
	font-size: 70px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 150px;
}

h2 {
	font-weight: 80px;
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px;
}

h3 {
	font-family: Helvetica, Sans-Serif;
	font-weight: 40px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

ul {
	font-family: Helvetica, Sans-Serif;
	list-style-type: none;
	margin-left: 370px;
	padding: 0;
	width: 600px;
}

li {
	display: inline;
	display: block;
	padding: 10px;
	font-style: italic;
}

p {
	font-family: Helvetica, Sans-Serif;
	font-weight: 12px;
	width: 600px;
}

nav {
	font-family: Georgia, thin, Serif;
	text-decoration: none;
	color: #000;
	border-bottom: px solid #000;
	letter-spacing: 5px;
	text-align: center;
}

footer {
 	font-family: helvetica, Sans-Serif;
 	font-size: 10px;
	padding: 10px;
	text-align: center;
	background-color: #FFFFFB;
}

.break {
	text-align: center;
}

#slogan {
	font-family: 'Calligraffitti', cursive;
	line-height: 3.0px;
}

#italic {
	font-size: 20px;
	font-style: italic;
	padding-left: 370px;
}

#hero {
	background: url("../images/img_background.jpg") no-repeat center center scroll;
	background-size: cover;
	padding: 100px 0 300px;
}

#food {
	background-size: center;
	padding-left: 180px;
}

#line {
	line-height: 25px;
}

#align {
	padding-left: 420px;
}
