@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Fira+Sans', cursive sans-serif;
	font-size: 1em;
	background-color: #FCF3F8;
	line-height: 1.5em;
	text-align: center;
}

h1 {
	font-family: 'Fira+Sans', helvetica, cursive sans-serif;
	font-weight: 100;
	font-size: 4.0em;
	line-height: 1.0em;
	text-align: center;
	font-variant: small-caps;
	padding-top: 1em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 4em;
}

h2 {
	text-align: left;
	font-size: 1.2em;
	line-height: 1.5em;
}

nav {
	text-align: right;
}

nav a {
	font-family: Georgia, thin, serif;
	font-size: 1.5em;
	text-decoration: none;
	font-variant: small-caps;
	color: #000;
	border: none;
	padding-right: 0.75em;
	padding-top: 0.7em;
	display: inline-block;
}

nav a:hover {
	color: #FAD626;
}

ul {
	list-style: none;
}

li {
	line-height: 2.0em;
}

footer {
	font-size: 1em;
	font-style: italic;
	padding: 0.75em;
	text-align: center;
	background-color: #FCF3F8;
	clear: both;
}
.picture section {
	padding: 4em 0;
	margin:	auto;
	height: 100vh;
	max-width: 200em;
}
#iceland {
    background: url("../images/akureyri_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#slogan {
	font-size: 1.7em;
	line-height: 1.5em;
	text-align: center;
	font-weight: 100;
	font-family: 'Poiret+One', helvetica, cursive sans-serif;
	font-style: italic;
	padding: 1em;
	padding-left: 5em; 
	padding-right: 5em;
	clear: both;
}

#premise {
	font-family: 'Poiret+One', helvetica cursive sans-serif;
	float: left;
	font-size: 1.1em;
	text-align: left;
	max-width: 33%;
	padding-right: 2em;
	padding-left: 2.7em;
	padding-top: 1.5em;
	padding-bottom: 4em;
	line-height: 1.5em;
}

#create {
	font-family: 'Poiret+One', helvetica cursive sans-serif;
	float: left;
	font-size: 1.1em;
	text-align: left;
	max-width: 33%;
	padding: 2em;
	padding-left: 3.0em;
	padding-top: 1.5em;
}

#collaborate {
	font-family: 'Poiret+One', helvetica cursive sans-serif;
	float: left;
	font-size: 1.1em;
	text-align: left;
	max-width: 33%;
	padding-right: 2em;
	padding-left: 2.7em;
	padding-top: 1.5em;
	padding-bottom: 4em;
	line-height: 1.5em;
	text-decoration: none;
}

@media only screen and (max-width: 998px) {
	h1 {
		display: inline-block;
		text-align: center;
		padding-top: 1.5em;
	}
	nav {
		text-align: right;
		padding-top: .5em;
	}
	body {
		font-size: 1em;
		text-align: center;
	}
	.picture section {
		height: 100vh;
		margin: auto;
	}	
	#iceland {
		background-size: cover;
		background-repeat: no-repeat;
	}
	#slogan {
		float: left;
		text-align: center;
		max-width: 100%;
	}
	#premise {
		float: left;
		text-align: left;
		max-width: 33%;
		padding-top: 0;
		padding: 2.0em;
		padding-left: 1.8em;
	}
	#create {
		float: left;
		text-align: left;
		max-width: 33%;
		padding: 1.5em;
		padding-left: 2.0em;
	}
	#collaborate {
		float: left;
		text-align: left;
		max-width: 33%;
		padding-top: 0;
		padding: 2.0em;
		padding-left: 1.8em;
		text-decoration: none;
	}
}
@media only screen and (max-width: 760px) {
	h1 {
		padding: 1em;
		font-size: 3em;
		}
	}
@media only screen and (max-width: 618px) {
		.picture section {
		height: 100vh;
		margin: auto;
	}	
	#iceland {
		background-size: cover;
		background-repeat: no-repeat;
	}
	#slogan {
		padding: 1.5em;
		max-width: 100%;
	}
	#premise {
		float: none;
		text-align: center;
		max-width: 90%;
		padding: 1.5em;
	}
	#create {
		float: none;
		text-align: center;
		max-width: 90%;
		padding: 1.5em;
	}
	#collaborate {
		float: none;
		text-align: center;
		max-width: 90%;
		padding: 1.5em;
	}
}

@media only screen and (max-width: 580px) {
	h1 {
		visibility: visible;
		font-size: 2.5em;
		text-align: center;
		width: 100%;
		line-height: 1.5em;
		display: inline-block;
	}
	nav {
		visibility: visible;
		font-size: 1.2em;
		text-align: center;
		width: 100%;
		line-height: 2em;
		padding: 2em;
		display: inline-block;
	}
	nav a:link {
		display: block;
		padding: 5px;
		position: relative;
	}
	h2 {
		text-align: center;
	}
	.picture {
		visibility: hidden;
	}
	#iceland {
		visibility: hidden;
	}
	#slogan {
		font-size: 1.5em;
		max-width: 100%;
	}
	#premise {
		float: none;
		font-family: 'Poiret+One', helvetica, cursive sans-serif;
		text-align: left;
		padding: 1.5em;
		padding-left: 2.5em;
		max-width: 100%;
	}
	#create {
		float: none;
		font-family: 'Poiret+One', helvetica, cursive sans-serif;
		text-align: left;
		padding: 1.5em;
		padding-left: 2.5em;
		max-width: 100%;
	}
	#collaborate {
		float: none;
		font-family: 'Poiret+One', helvetica, cursive sans-serif;
		text-align: left;
		padding: 1.5em;
		padding-left: 2.5em;
		max-width: 100%
	}
	footer {
		background-color: #FCF3F8;
		font-size: .95em;
	}
}