style.css

* {
	padding: 0;
	margin:0;
}

body {
	font-family: Helvetica, Sans Serif;
	font-size: 18px
	background-color: #C8DAFF;
	line-height: 1.0;
	text-align: center;

}

h1 {
	position: absolute;
	top: 500px;
	margin-left: 550px;
	margin-right: 400px;
	text-align: center;
	color: #38353B;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-style:"font-size:300%";
	margin-bottom: 20px;
}

h2 {
	font-family: Helvetica, Sans Serif;
	font-weight: 60px;
	text-align: center;
	font-style: italic;
	margin-left: 
	margin-bottom: 20px;
}

img {
	position: relative;
	width:100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3 {
	font-family: Helvetica, Sans Serif;
	font-weight: 40px;
	text-align: center;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	margin-left: 370px;
	padding: 0;
	color: #C9E3FF;
	width: 600px;

}

li a {
	display: inline;
	float: left;
	display: block;
	padding: 8px;
	font-style: italic;

}

p {
	font-family: Helvetica, Sans Serif;
	font-weight: 12px;
	width: 600px;
	margin-left: 370px;
	margin-bottom: 20px;

}

.nav {
	margin-left: 950px;
	float: left;

}

.break {
	background-color: #C8DAFF; 
}

.list {
	color: black;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: #C8DAFF;
}
