style.css
body {
	background-color: #F1EBF0
}

h1 {
	position: center;
	color: #66757a;
	font-family: Helvetica;
	font-weight: 60px;
}

h3 {
	position: center;
	font-family: Helvetica;
	font-weight: 40px;
}

p {
	font-family: Helvetica;
	font-weight: 12px;
}